################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EquipmentMaintenance/bin/Debug
/EquipmentMaintenance/obj/Debug
/EquipmentMaintenance/obj/Debug
*.suo
/.vs/EquipmentMaintenance/v15/.suo
/EquipmentMaintenance/bin/Release
/EquipmentMaintenance/obj/Release/TempPE
/EquipmentMaintenance/obj/Release
